.MainCulprit {
    margin : 0;
    padding:0;
}

.dark{
    font-size:x-large;
    width:50px;
    height: 50px;
    border-radius:50%;
    border: 2px solid #A998EE;
    background: #1a1a40;
    /* display:flex; */
    /* justify-content: flex-end; */
    /* align-items:center; */
    /* padding:10px; */
}
